# Define libraries

In [2]:
import numpy as np
import pandas as pd
import keras

In [3]:
from keras.datasets import imdb
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
np.random.seed(7)# fix random seed for reproducability

# load the top 500 words in the dataset

In [5]:
top_words=500
(X_train,y_train),(X_test,y_test)=imdb.load_data(num_words=top_words)

# lets look at the indices of the first review of the X_train and length of the review

In [7]:
print(X_train[1])
print(len(X_train[1]))

[1, 194, 2, 194, 2, 78, 228, 5, 6, 2, 2, 2, 134, 26, 4, 2, 8, 118, 2, 14, 394, 20, 13, 119, 2, 189, 102, 5, 207, 110, 2, 21, 14, 69, 188, 8, 30, 23, 7, 4, 249, 126, 93, 4, 114, 9, 2, 2, 5, 2, 4, 116, 9, 35, 2, 4, 229, 9, 340, 2, 4, 118, 9, 4, 130, 2, 19, 4, 2, 5, 89, 29, 2, 46, 37, 4, 455, 9, 45, 43, 38, 2, 2, 398, 4, 2, 26, 2, 5, 163, 11, 2, 2, 4, 2, 9, 194, 2, 7, 2, 2, 349, 2, 148, 2, 2, 2, 15, 123, 125, 68, 2, 2, 15, 349, 165, 2, 98, 5, 4, 228, 9, 43, 2, 2, 15, 299, 120, 5, 120, 174, 11, 220, 175, 136, 50, 9, 2, 228, 2, 5, 2, 2, 245, 2, 5, 4, 2, 131, 152, 491, 18, 2, 32, 2, 2, 14, 9, 6, 371, 78, 22, 2, 64, 2, 9, 8, 168, 145, 23, 4, 2, 15, 16, 4, 2, 5, 28, 6, 52, 154, 462, 33, 89, 78, 285, 16, 145, 95]
189

# padding the sequences

In [8]:
max_review_length=600
X_train=sequence.pad_sequences(X_train,maxlen=max_review_length)
X_test=sequence.pad_sequences(X_test,maxlen=max_review_length)

In [9]:
print(X_train.shape)

(25000, 600)

In [10]:
print(X_train[1])

[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1 194   2
 194   2  78 228   5   6   2   2   2 134  26   4   2   8 118   2  14 394
  20  13 119   2 189 102   5 207 110   2  21  14  69 188   8  30  23   7
   4 249 126  93   4 114   9   2   2   5   2   4 116   9  35   2   4 229
   9 340   2   4 118   9   4 130   2  19   4   2   5  89  29   2  46  37
   4 455   9  45  43  38   2   2 398   4   2  26   2   5 163  11   2   2
   4   2   9 194   2   7   2   2 349   2 148   2   2   2  15 123 125  68
   2   2  15 349 165   2  98   5   4 228   9  43   2   2  15 299 120   5
 120 174  11 220 175 136  50   9   2 228   2   5   2   2 245   2   5   4
   2 131 152 491  18   2  32   2   2  14   9   6 371  78  22   2  64   2
   9   8 168 145  23   4   2  15  16   4   2   5  28   6  52 154 462  33
  89  78 285  16 145  95]

# build the model

In [11]:
embedding_vector_length=32
model=Sequential()
model.add(Embedding(top_words,embedding_vector_length,input_length=max_review_length))
model.add(LSTM(100))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 600, 32)           16000
_________________________________________________________________
lstm (LSTM)                  (None, 100)               53200
_________________________________________________________________
dense (Dense)                (None, 1)                 101
=================================================================
Total params: 69,301
Trainable params: 69,301
Non-trainable params: 0
_________________________________________________________________
None

In [12]:
model.fit(X_train,y_train,epochs=10,batch_size=64)
scores=model.evaluate(X_test,y_test,verbose=0)
print("Accuracy: %.2f%%" % (scores[1]*100))

Epoch 1/10
391/391 [==============================] - 261s 667ms/step - loss: 0.5469 - accuracy: 0.7157
Epoch 2/10
391/391 [==============================] - 260s 665ms/step - loss: 0.4158 - accuracy: 0.8168
Epoch 3/10
391/391 [==============================] - 260s 664ms/step - loss: 0.4660 - accuracy: 0.7848
Epoch 4/10
391/391 [==============================] - 259s 661ms/step - loss: 0.3966 - accuracy: 0.8264
Epoch 5/10
391/391 [==============================] - 260s 664ms/step - loss: 0.3685 - accuracy: 0.8399
Epoch 6/10
391/391 [==============================] - 257s 658ms/step - loss: 0.3595 - accuracy: 0.8474
Epoch 7/10
391/391 [==============================] - 258s 659ms/step - loss: 0.3594 - accuracy: 0.8456
Epoch 8/10
391/391 [==============================] - 257s 656ms/step - loss: 0.3494 - accuracy: 0.8487
Epoch 9/10
391/391 [==============================] - 257s 657ms/step - loss: 0.3385 - accuracy: 0.8545
Epoch 10/10
391/391 [==============================] - 260s 664ms/step - loss: 0.3275 - accuracy: 0.8614
Accuracy: 85.39%